*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: rgb(154, 154, 247);
    display: flex;
    justify-content: center;
    
}

ul li {
    list-style: none;
    margin: 0px 0px 0px 120px;
    padding: 3px 0px;
    

}

ul li a{
    text-decoration: none;

    color: rgb(3, 0, 0);
    font-weight: 600;
    margin: 0px 50px ;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .6px;



}

.lista_desordenada{
    display: flex;
    align-items: center;

    width: 90%;


    

    
}

.caja_logo{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: center;



}

.logo{
    width: 60px;
    height: 60px;

}

/* Main_______________MAIN*/
main{
    background-color: rgb(255, 255, 255);



}

.caja_main{
    display: grid;
    grid-template-columns: 55.1% auto;
    grid-template-rows: 60px 200px auto auto;
    

}

.caja_promo{
background-color: rgb(0, 0, 0);
height: 40px;
width: 400px;
border: 1px solid black;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.promo_link{
    display: flex;
    color: white;

    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    font-family: Arial, Helvetica, sans-serif;

    
}



.titulo_main{

    grid-column: 1/2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    

}

.parrafo{

    grid-column: 1/2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 130px;
    font-size: 23px;
    font-weight: 900;
}

.caja_imagen{
    grid-column: 2/3;
    grid-row: 1/5
}

.caja_imagen img{
    width: 100%;
}

.formulario{
    background-color: rgb(154, 154, 247);
    grid-row: 4/5 ;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario p{
    padding: 0px;
    margin: 10px 0px 0px 0px;

}

input, textarea{
    border: 0;
    outline: none;
    width: 230px;
}

.campo{
    border: 1px solid black;
    padding: 3px;
    width: 300px;
    border-radius: 10px;
}

.campo:focus{
    border-color: rgb(181, 181, 255);
}

.btn{
    margin: 10px;
    background-color: rgb(207, 207, 255);
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    border: solid 1px black;
    font-weight: 550;
    box-shadow: 2px 2px 5px black;
    text-shadow: 0px 0px 0px black;
    color: black;
    
}

.btn:hover{
    background-color: rgb(178, 178, 219);
}

.btn:active{
    background-color: rgb(142, 142, 177);
}

/*seccion 1*/

.seccion-1{

    height: 900PX;
    background-color: rgb(154, 154, 247);
    margin-top: 20px;

}


.encabezado h2{
    margin-top: 20px;
    padding-top: 20px;

}

.caja_seccion p{
    margin-top: 20px;
    font-size: 20px;
}

section h3{
    text-align: center;
    font-size: 25px;

    font-family: Arial, Helvetica, sans-serif;
}

section .encabezado{
    text-align: center;
    margin: 15px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado p{
    margin: 10px;
    color: rgb(76, 80, 90);

}

.galeria{
    display: flex;
    justify-content: center;
}

.caja_libro_1{
    background-color: hsl(0, 0%, 0%);
    width: 30%;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10PX;
    cursor: pointer;
    box-shadow: 0PX 15PX 30PX rgba(0, 0, 0, 0.904), 0 10px 10px rgba(0, 0, 0, 0.25);
    
}

.caja_libro_1:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.486);
    transition: .3s;
    transform: translate(0px, -5px);
}


.caja_libro_2{
    background-color: hsl(0, 0%, 0%);
    width: 30%;

    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 10PX;
    box-shadow: 0PX 14PX 30PX rgba(0, 0, 0, 0.699), 0 10px 10px rgba(0, 0, 0, 0.25)
}

.caja_libro_2:hover{
    box-shadow: 0 3px 6px #000000b2;
    transition: .4s;
    transform: translate(0px, -5px);

}


.caja_libro_3{
    background-color: hsl(0, 0%, 0%);
    width: 30%;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 10PX;
    box-shadow: 0PX 14PX 30PX rgba(0, 0, 0, 0.904), 0 10px 10px rgba(0, 0, 0, 0.25)

}

.caja_libro_3:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.692);
    transition: .4s;
    transform: translate(0px, -5px);

}


.galeria img{

    background-color: hsl(253, 100%, 84%);
    margin: 0% 0% 10% 0%;
}

.portada_1{
    padding: 10% 10%;
    border-radius: 5px;

}

.portada_2{
    padding: 10.4% 10%;
    border-radius: 5px;
}

.portada_3{
    padding: 9.1% 10%;
    border-radius: 5px;

}

.galeria p{
    color: rgb(255, 255, 255);
    margin: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.galeria h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px 0px 5px 0px;
}

.galeria button {
    font-size: 25px;  
    width: 100%;
    padding: 10px;
    border: 0;  
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
}

.comprar-1{
background-color: black;
color: white;
font-weight: bold;
}

.comprar-1:hover{
    background-color: rgb(104, 116, 219);
    color: rgb(255, 255, 255);
}

.comprar-2{
    background-color: black;
color: white;
font-weight: bold;
}

.comprar-2:hover{
    background-color: rgb(104, 116, 219);
    color: rgb(255, 255, 255);
}

.comprar-3{
    background-color: black;
color: white;
font-weight: bold;
}

.comprar-3:hover{
    background-color: rgb(104, 116, 219);
    color: rgb(255, 255, 255);
}

/*________________seccion 2___________________*/

.seccion-2{
    height: auto;
    margin-bottom: 10px;
}

.galeria-2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.caja_libro_recomendado{
    background-color: rgb(154, 154, 247);
    text-align: center;
    padding: 10px;
    border-radius: 10PX;
    cursor: pointer;
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 80% auto;
    margin: 0px 10px;
    
    
}



.galeria-2 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    padding: 0px 33%;
    grid-column: 1/2;
    grid-row: 3/6;
    
}

.galeria-2 p{
    color: rgb(255, 255, 255);
    padding: 15% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;


}

.galeria-2 h3{
    letter-spacing: 1px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    grid-row: 1/2;
    grid-column: 1/6;
    padding: 0 20%;
    
    
}

.portada-recomendado-1{
    border-radius: 5px;
}

footer{
    text-align: center;
    background-color: rgb(154, 154, 247);
}

footer h3{
        padding: 15px 0px 15px 0px;
        
}


/*diseño responsivo para telefono S*/

@media(min-width: 320px){

    
header{
    background-color: rgb(0, 0, 221);
    width: auto;

}

ul li {
    list-style: none;
    margin: 0px 0px 0px 9px;
    padding: 0px 0px;


    

}

ul li a{
    text-decoration: none;
    color: rgb(3, 0, 0);
    font-weight: 400;
    margin: 0px 0px 0px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .6px;

    font-size: 10px;



}

.lista_desordenada{
     width: 100%;    


}

.caja_logo{
    width: auto;
    margin-left: 3px;

}

.logo{
    width: 40px;
    height: 40px;


}


/*MAIN FHONE S*/



/* Main_______________MAIN*/
main{
    background-color: rgb(255, 255, 255);



}

.caja_main{
    display: grid;
    grid-template-columns: 55.1% auto;
    grid-template-rows: 60px 200px auto auto;


}

.caja_promo{
background-color: rgb(0, 0, 0);
height: 50%;
width: 100%;
border: 1px solid black;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;

font-size: 6.9px;
}

.promo_link{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    font-family: Arial, Helvetica, sans-serif;


    
}



.titulo_main{

    grid-column: 1/2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

    

}

.parrafo{

    grid-column: 1/2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 15px;
    font-weight: 200;

    margin-bottom: 3px;
}

.caja_imagen{
    grid-column: 2/3;
    grid-row: 1/5
}

.caja_imagen img{
    width: 100%;
    height: 100%;

}

.formulario{
    background-color: rgb(154, 154, 247);
    grid-row: 4/5 ;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.formulario p{
    padding: 0px;
    margin: 10px 0px 0px 0px;

    

}

input, textarea{
    border: 0;
    outline: none;
    width: 80%;

}

.campo{
    border: 1px solid black;
    padding: 3px;
    width: 100%;
    border-radius: 10px;
}

.campo:focus{
    border-color: rgb(181, 181, 255);
}

.btn{
    margin: 10px;
    background-color: rgb(207, 207, 255);
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    border: solid 1px black;
    font-weight: 550;
    box-shadow: 2px 2px 5px black;
    text-shadow: 0px 0px 0px black;
    color: black;
    
}

.btn:hover{
    background-color: rgb(178, 178, 219);
}

.btn:active{
    background-color: rgb(142, 142, 177);
}




}

/*diseño responsivo para telefono L*/


@media(min-width: 425px){
    
    header{
        height: 100px;
        background-color: rgb(154, 154, 247);
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    ul li {
        list-style: none;
        margin: 0px 0px 0px 0px;
        padding: 3px 0px;
        padding-right: 9px
    
    }
    
    ul li a{
        text-decoration: none;
        color: rgb(3, 0, 0);
        font-weight: 600;
        margin: 0px 0px 0px 0px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: .6px;
    
    
    
    }
    
    .lista_desordenada{
        display: flex;
        align-items: center;
    
        margin-left: 10px;
    
        
    }
    
    .caja_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 38px;
    
    
    }
    
    .logo{
        width: 60px;
        height: 60px;
    
    }
    
    /*Seccion__________0 telefono__________*/
    
    
    main{
        background-color: rgb(255, 255, 255);
    
    
    
    }
    
    .caja_main{
        display: grid;
        grid-template-columns: 55.1% auto;
        grid-template-rows: 60px 200px auto auto;
    
    }
    
    .caja_promo{
    background-color: rgb(0, 0, 0);
    height: 50%;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    
    .promo_link{
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
    
        
    }
    
    .titulo_main{
    
        grid-column: 1/2;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px; 
    
    }
    
    .parrafo{
    
        grid-column: 1/2;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        height: auto;
        font-size: 20spx;
        font-weight: 400;
    
    }
    
    .caja_imagen{
    
        grid-column: 2/3;
        grid-row: 1/5;
        width: 190%;
    
    }
    
    .caja_imagen img{
        width: 100%;
        height: 100%;
    
    }
    
    .formulario{
        background-color: rgb(154, 154, 247);
        grid-row: 4/5 ;
        text-align: center;
        margin: 0 auto;
        width: auto;
        padding: 10px;
        color: rgb(0, 0, 0);
        border-radius: 20px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .formulario p{
        padding: 0px;
        margin: 10px 0px 0px 0px;
    
    }
    
    input, textarea{
        border: 0;
        outline: none;
        width: 60%;
    }
    
    .campo{
        border: 1px solid black;
        padding: 3px;
        width: 80%;
        border-radius: 10px;
    }
    
    
    /*SECCION 1 telefono*/
    
    
    
    .seccion-1{
    
        height: auto;
        background-color: rgb(154, 154, 247);
        margin-top: 20px;
        padding-bottom: 30px;
    }
    
    
    .encabezado h2{
        margin-top: 20px;
        padding-top: 0px;
    
    }
    
    
    section h3{
        text-align: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
    
    .galeria{
        display: grid;
        grid-template-columns: auto;
    }
    
    .caja_libro_1{
        background-color: hsl(0, 0%, 0%);
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0px 10px 20px 0px;
        border-radius: 10PX;
        cursor: pointer;
        box-shadow: 0PX 15PX 30PX rgba(0, 0, 0, 0.904), 0 10px 10px rgba(0, 0, 0, 0.25);
     
        
    }
    
    
    .caja_libro_2{
        background-color: hsl(0, 0%, 0%);
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0px 0px 20px 0px;
        cursor: pointer;
        border-radius: 10PX;
        box-shadow: 0PX 14PX 30PX rgba(0, 0, 0, 0.699), 0 10px 10px rgba(0, 0, 0, 0.25)
    }
    
    
    .caja_libro_3{
        background-color: hsl(0, 0%, 0%);
        width: 100%;
        text-align: center;
        cursor: pointer;
        border-radius: 10PX;
        box-shadow: 0PX 14PX 30PX rgba(0, 0, 0, 0.904), 0 10px 10px rgba(0, 0, 0, 0.25);
        margin: 0px;
    
    }
    
    .galeria h6{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 0px 0px 5px 0px;
    }
    
    .galeria button {
        font-size: 25px;  
        width: 100%;
        padding: 10px;
        border: 0;  
        outline: none;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 10px;
        background-color: hsl(253, 100%, 84%) ;
    }
    
    .comprar-1{
    background-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    }
    
    
    .comprar-2{
        background-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    }
    
    
    .comprar-3{
        background-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    }
    
    /*seccio,___2_______*/
    
    
    .seccion-2{
        height: auto;
        margin-bottom: 10px;
    }
    
    .galeria-2{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        height: 100%;
    
    }
    
    .caja_libro_recomendado{
        background-color: rgb(154, 154, 247);
        text-align: center;
        padding: 10px;
        border-radius: 10PX;
        cursor: pointer;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin: 0px 0px 20px 0px;
    
        
    }
    
    .galeria-2 h6{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: start;
        padding: 0px 40%;
        grid-row: 5/6;
    
    }
    
    .galeria-2 p{
        color: rgb(255, 255, 255);
        padding: 5% 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    
    
    
    }
    
    .galeria-2 h3{
        letter-spacing: 1px;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        grid-row: 1/2;
        margin-bottom: 5px;
        color: black;
    }
    
    .portada-recomendado-1{
        border-radius: 5px;
        border: solid white;    
    }
    
    
    }


@media (min-width: 768px){

    header{
        height: 100px;
        background-color: rgb(154, 154, 247);
        display: flex;
        justify-content: center;
        
    }
    
    ul li {
        list-style: none;
        margin: 0px 0px 0px 30px;
        
    
    }
    
    ul li a{
        text-decoration: none;
    
        color: rgb(3, 0, 0);
        font-weight: 600;
        margin: 0px 35px ;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: .6px;
    
    
    
    }

    


.titulo_main{

    grid-column: 1/2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;    

}

.parrafo{

    grid-column: 1/2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10PX;

}

/*Formulario responsivo*/

.formulario{
    background-color: rgb(154, 154, 247);
    grid-row: 4/5 ;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

/*SECCION 1 RESPONSIVA CARTAS LIBROS*/


.seccion-1{

    height: 100%;
    background-color: rgb(154, 154, 247);
    margin-top: 20px;
    padding-bottom: 30PX;

}


.encabezado h2{
    margin-top: 20px;
    padding-top: 5px;

}


section h3{
    text-align: center;
    font-size: 25px;
 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section .encabezado{
    text-align: center;
    margin: 0px;
    font-size: 20px;
    padding-bottom: 7px;
    
}

.encabezado p{
    margin: 8px 0PX;
    color: rgb(76, 80, 90);

}


.galeria img{

    background-color: hsl(253, 100%, 84%);
    width: 100%;

}

.comprar-1{
background-color: black;
color: black;
font-weight: bold;
}


.comprar-2{
    background-color: black;
color: black;
font-weight: bold;
}


.comprar-3{
    background-color: black;
color: black;
font-weight: bold;
}

/*seccion 2 diseño responsivo*/


.seccion-2{
    margin-bottom: 10px;
}

.galeria-2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.caja_libro_recomendado{
    background-color: rgb(154, 154, 247);
    text-align: center;
    padding: 10px;
    border-radius: 10PX;
    cursor: pointer;
    width: 30%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin: 0px 10px;
    
}



.galeria-2 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    padding: 0px 33%;
    grid-row: 5/6;

    
}

.galeria-2 p{
    color: rgb(255, 255, 255);
    padding: 15% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    grid-row: 4/5;


}

.galeria-2 h3{
    letter-spacing: 1px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    grid-row: 1/2;
    padding: 0 30%;
    
    
}

.portada-recomendado-1{
    border-radius: 5px;
    width: 100%;
}

}


/*Diseño________________________responsivo*/

@media(min-width: 1024px ){
    header{
        height: 100px;
        background-color: rgb(154, 154, 247);
        display: flex;
        justify-content: center;
        
    }
    
    ul li {
        list-style: none;
        margin: 0px 0px 0px 85px;
        
    
    }
    
    ul li a{
        text-decoration: none;
    
        color: rgb(3, 0, 0);
        font-weight: 600;
        margin: 0px 35px ;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: .6px;
    
    
    
    }
    


/*seccion 2____responsivo___*/

.seccion-2{
    height: auto;
    margin-bottom: 10px;
}

.galeria-2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;


}

.caja_libro_recomendado{
    background-color: rgb(154, 154, 247);
    text-align: center;
    padding: 10px;
    border-radius: 10PX;
    cursor: pointer;
    width: 30%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: 0px 8px;
    
    
}



.galeria-2 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    padding: 0px 37%;
    grid-row: 5/6;

}

.galeria-2 p{
    color: rgb(255, 255, 255);
    padding: 15% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    grid-row: 4/5;


}

.galeria-2 h3{
    letter-spacing: 1px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 1/2;
    grid-column: 1/6;
    padding: 0 30%;
    width: 100%;
    
    
}

.portada-recomendado-1{
    border-radius: 5px;
    padding: 9%;
    text-align: center;

}

}